:root {
  --text-color: rgb(29, 29, 31);
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
  opacity: 0;
  transition: 0.5s;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: transparent;

  animation: loading-circle-ani 1s infinite;
}

.before-load .container {
  display: none;
}

.before-load .loading {
  opacity: 1;
}

body.before-load {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10;
}

.local-nav {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  z-index: 11;
}

.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
}

.global-nav-links,
.local-nav-links {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-links a {
  font-size: 0.8em;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

.container {
  overflow-x: hidden;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
  position: relative;
  z-index: 10;
  top: -10vh;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
  color: white;
  opacity: 0;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--text-color);
}

.desc-message {
  width: 50%;
  font-weight: bold;
  top: 25vh;
  opacity: 0;
  color: white;
  line-height: 25px;
}

.desc-message p {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 10px;
  line-height: 4.3vw;
}

.pin {
  width: 1px;
  height: 10vh;
  position: relative;
  top: -10px;
  background: black;
}

#scroll-section-2 .b {
  top: 15%;
  left: 20vw;
  width: 50vw;
}

#scroll-section-2 .c {
  top: 20%;
  left: 55%;
  width: max-content;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  font-weight: bold;
  color: var(--text-color);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 3.2rem;
  color: #888;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background: #fff000;
}

.sticky-elem {
  display: none;
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.scroll-effect-end .sticky-elem {
  display: none !important;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    padding: 0;
    font-size: 2rem;
  }

  .description strong {
    /* float: none; */
    font-size: 5rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 30%;
    padding: 0;

    font-size: 1.5vw;
  }

  .desc-message p {
    line-height: 2.4vw;
  }

  #scroll-section-2 .b {
    top: 15%;
    left: 25%;
  }

  #scroll-section-2 .c {
    left: 55%;
  }

  .mid-message {
    margin: 5rem 0;
    padding: 0;
    font-size: 3.5vw;
    width: 1000px;
  }
  .canvas-caption {
    padding: 0;
    font-size: 2rem;
  }
}

/* @media (min-width: 1600px) {
  body {
    background-color:
  }
} */
